.superInput {
 background: transparent;
 color: #000;
}

.errorInput {
    border: 3px solid #080808;
    background: #ad0505e6;
    content: 'where text:-?';
    color: #fff;
    border-radius: 2px 5px;
    padding: 5px 2px;
}

.error {
    color: red;
}