.nav {
    background: #c36fd4;
    padding: 10px;
    box-shadow: 0 7px 20px #00000085;
}
.nav ul{
    list-style: none;
    padding-left: 10px;
    
}
.nav h2:hover,.nav li a:hover{
cursor: pointer;
color: #fff;
}
.nav li a{
color:#000;
text-decoration: none;
}